<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">
        <!-- Slider application -->
        <div class="container">
            <div class="slider-wrapper" tabindex="0">
                <!-- Big image -->
                <div class="item" @mouseEnter="stopAutoPlay" @mouseleave="reStartAutoPlay">
                    <img :src="slides[currentImg].image" alt="Spiderman" />
                    <div class="text">
                        <h3>{{ slides[currentImg].title }}</h3>
                        <p>{{ slides[currentImg].text }}</p>
                    </div>
                </div>
                <!-- /Big image -->
                <!-- Thumbnails -->
                <div class="thumbs">
                    <!-- Prev and next button -->
                    <div class="prev" @click="prevImg" @mouseEnter="stopAutoPlay" @mouseleave="reStartAutoPlay"></div>
                    <div class="next" @click="nextImg" @mouseEnter="stopAutoPlay" @mouseleave="reStartAutoPlay"></div>
                    <!-- /Prev and next button -->
                    <!-- Template for thumbnails image -->
                    <template v-for="(item, index) in slides" :key="index">
                        <div class="thumb active" v-if="index === currentImg" @click="setToCurrentImg" :position-n="index">
                            <img :src="slides[index].image" alt="">
                        </div>
                        <div class="thumb" v-else @click="setToCurrentImg" :position-n="index">
                            <img :src="slides[index].image" alt="">
                        </div>
                    </template>
                    <!-- /Template for thumbnails image -->
                </div>
                <!-- /Thumbnails -->
            </div>
        </div>
        <!-- /Slider application -->
    </div>

    <!-- Vue.js -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <!-- /Vue.js -->
    <script src="./js/script.js"></script>
</body>

</html>